body {
  padding-top: 60px;
}

.centered {
  text-align: center;
}

.navbar .login {
  float: right;
}
.navbar .login form {
  margin: 0; padding: 0;
}

.footer {

  margin-top: 30px;
}

.add-remove input {
    width: 30px;
    text-algin: center;
}
.card{
display:block;
border:1px solid lightgray;
padding:10px;
margin:10px;
}

.card:hover{
border:1px solid darkgray;
display:block;
padding:10px;
margin:10px;
background-color: #ddd;

}
.author{
	font-size:9px;
	color:gray;
}
.comments{
	font-size:9px;
	color:gray;
}

.card-body a{
  color: inherit;
  display:block;
  text-decoration:none;
  padding:10px;
  margin-bottom:1px;
 }
 .card-body a h3{
	 font-size:20px;
 }
 
/* .card-body  a:hover { */
  /* background-color: #ddd; */
/* } */
.article-overview a{
  color: inherit;
  text-decoration:none;
}

.article-overview p{
	display:block;
	word-break:break-word;
	text-algin:justify;
	width:50%;
}
.comment{
	padding:10px;
	margin:10px;
	/* border:1px solid darkgray; */
	
}
.comment-footer{
		
}

.comment-header{
	font-size:10px;
	color:inherit;
	margin-bottom:10px;
}
.comment .text{
	margin-left:10px;
}
